@using LuyenThiTracNghiem.Utilities
@model IEnumerable<dynamic>

<div class="trending-top mb-30">
    <div class="trend-top-img">
        @foreach (var exam in Model.Take(1)){
            string url = Functions.TitleSlugGeneration(exam.ExamName, exam.ExamId);
            <img src="@exam.Image" alt="@exam.ExamName">
            <div class="trend-top-cap">
                <span>Đề thi nổi bật</span>
                <h2>
                    <a href="/@url">@exam.ExamName</a>
                </h2>
            </div>
        }
    </div>
</div>

<div class="trending-bottom">
    <div class="row">
        @foreach (var exam in Model.Skip(1))
        {   
            string url = Functions.TitleSlugGeneration("exam",exam.ExamName, exam.ExamId);
            <div class="col-lg-4">
                <div class="single-bottom mb-35 exam-card">
                    <div class="trend-bottom-img mb-30">
                        <img src="@exam.Image" alt="@exam.ExamName">
                    </div>
                    <div class="trend-bottom-cap">
                        <span class="color1">@exam.SubjectId</span>
                        <h4>
                            <a href="/@url">@exam.ExamName</a>
                        </h4>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
